@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

progress {
    width: 70%;
}

#header {
    width: 100%;
    height: 80px;
    background-color: rgb(231, 231, 231);
    top: 0;
    position: absolute;
}

#user_choose {
    float: right;
}

#name {
    float: left;
    font-size: 15pt;
    margin-top: 25px;
    margin-left: 10px;
}

.container {
    border: 1px dotted darkgoldenrod;
}

.line {
    display: inline-block;
}